  body:not(home) {
    padding-top: 100px;
  }

  h1 {
    font-family: @headings-font-family;
    font-weight: 600;
    .font-size(1.8);
    .letter-spacing(0.2);
    color: @brand-gray;
    text-transform: uppercase;
    .text-center;
  }

  h2 {
    font-family: @headings-font-family;
    font-weight: 600;
    .font-size(1.8);
    .letter-spacing(0.2);
    color: @brand-gray;
    text-transform: uppercase;
    .text-center;
  }

  h3 {
    font-family: @headings-font-family;
    font-weight: 300;
    .font-size(1.8);
    color: @brand-gray;
    text-transform: uppercase;
    .text-center;
  }

  h4 {
    font-family: @headings-font-family;
    font-weight: 600;
    .font-size(1.8);
    .letter-spacing(0.1);
    color: @brand-gray;
    .text-center;
  }



  p {
    text-align: center;
    .font-size(1.4);
    color: @brand-gray-light;
    font-weight: 400;
    word-spacing: 2px;
    line-height: 1.2em;
    margin-top: 25px;
  }


  strong {
    font-weight: 600;
  }

  label {
    font-weight: 400;
  }

  input:-webkit-autofill {
    background: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }

  .thin-sep { 
    height: 1px;
    background-color: lighten(@brand-gray, 65%);
    width: 50px;
    margin: 0 auto 0 auto;
  }

  .nopadding {
    padding: 0px !important;
    margin: 0px !important;
  }

  .no-gutter > [class*='col-'] {
    padding-right:0 !important;
    padding-left:0 !important;
  }

  .btn-primary.btn-inverse {
    color: @brand-primary !important;
    background: none !important;
    border-color: @brand-primary;
  }

  .btn-default {
    background: none !important;
    color: @light;
  }

  .btn {
    padding: 20px;
    border-radius: 0;
    text-transform: uppercase;
    .font-size(1.4);
    .letter-spacing(0.2);
  }

  .content-info {
    background: #dfdfdf;
  }

  @media (min-width: @screen-md-min) {


  }

  @media (min-width: @screen-lg-min) {

  }