  body {
    //padding-top: 100px
  }

  h1 {
    font-family: @headings-font-family;
    font-weight: 600;
    .font-size(1.8);
    .letter-spacing(0.2);
    color: @brand-gray;
    text-transform: uppercase;
    .text-center;
  }

  h2 {
    font-family: @headings-font-family;
    font-weight: 600;
    .font-size(1.8);
    .letter-spacing(0.2);
    color: @brand-gray;
    text-transform: uppercase;
    .text-center;
  }

  h3 {
    font-family: @headings-font-family;
    font-weight: 300;
    .font-size(4.2);
    color: @brand-gray;
    text-transform: uppercase;
    .text-center;
  }



  p {
    text-align: center;
    .font-size(1.4);
    color: @brand-gray-light;
    font-weight: 400;
    word-spacing: 2px;
    line-height: 1.8em;
    margin-top: 25px;
  }


  strong {
    font-weight: 600;
  }

  label {
    font-weight: 400;
  }

  input:-webkit-autofill {
    background: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }

  .thin-sep { 
    height: 1px;
    background-color: lighten(@brand-gray, 65%);
    width: 50px;
    margin: 8% auto 0 auto;
  }

  .nopadding {
    padding: 0px !important;
    margin: 0px !important;
  }

  .no-gutter > [class*='col-'] {
    padding-right:0 !important;
    padding-left:0 !important;
  }

  @media (min-width: @screen-md-min) {


  }

  @media (min-width: @screen-lg-min) {

  }