@roboto-font-path: "../fonts/roboto/";

@font-face {
  font-family: 'Roboto';
  src: url('@{roboto-font-path}Roboto-Light-webfont.eot');
  src: url('@{roboto-font-path}Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{roboto-font-path}Roboto-Light-webfont.woff') format('woff'),
  url('@{roboto-font-path}Roboto-Light-webfont.ttf') format('truetype'),
  url('@{roboto-font-path}Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('@{roboto-font-path}Roboto-LightItalic-webfont.eot');
  src: url('@{roboto-font-path}Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{roboto-font-path}Roboto-LightItalic-webfont.woff') format('woff'),
  url('@{roboto-font-path}Roboto-LightItalic-webfont.ttf') format('truetype'),
  url('@{roboto-font-path}Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('@{roboto-font-path}Roboto-Regular-webfont.eot');
  src: url('@{roboto-font-path}Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{roboto-font-path}Roboto-Regular-webfont.woff') format('woff'),
  url('@{roboto-font-path}Roboto-Regular-webfont.ttf') format('truetype'),
  url('@{roboto-font-path}Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('@{roboto-font-path}Roboto-Italic-webfont.eot');
  src: url('@{roboto-font-path}Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{roboto-font-path}Roboto-Italic-webfont.woff') format('woff'),
  url('@{roboto-font-path}Roboto-Italic-webfont.ttf') format('truetype'),
  url('@{roboto-font-path}Roboto-Italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('@{roboto-font-path}Roboto-Medium-webfont.eot');
  src: url('@{roboto-font-path}Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{roboto-font-path}Roboto-Medium-webfont.woff') format('woff'),
  url('@{roboto-font-path}Roboto-Medium-webfont.ttf') format('truetype'),
  url('@{roboto-font-path}Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('@{roboto-font-path}Roboto-Bold-webfont.eot');
  src: url('@{roboto-font-path}Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{roboto-font-path}Roboto-Bold-webfont.woff') format('woff'),
  url('@{roboto-font-path}Roboto-Bold-webfont.ttf') format('truetype'),
  url('@{roboto-font-path}Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCnd';
  src: url('@{roboto-font-path}RobotoCondensed-Regular-webfont.eot');
  src: url('@{roboto-font-path}RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{roboto-font-path}RobotoCondensed-Regular-webfont.woff') format('woff'),
  url('@{roboto-font-path}RobotoCondensed-Regular-webfont.ttf') format('truetype'),
  url('@{roboto-font-path}RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Roboto';
    src: url('@{roboto-font-path}Roboto-Regular-webfont.svg#robotoregular') format('svg');
  }
}

@c2eicons-font-path:"../fonts/c2eicons/";

@font-face {
  font-family: 'c2eicons';
  src:url('@{c2eicons-font-path}c2eicons.eot?9lz1ll');
  src:url('@{c2eicons-font-path}c2eicons.eot?#iefix9lz1ll') format('embedded-opentype'),
  url('@{c2eicons-font-path}c2eicons.woff?9lz1ll') format('woff'),
  url('@{c2eicons-font-path}c2eicons.ttf?9lz1ll') format('truetype'),
  url('@{c2eicons-font-path}c2eicons.svg?9lz1ll#c2eicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'c2eicons';
    src:   url('@{c2eicons-font-path}c2eicons.svg?9lz1ll#c2eicons') format('svg');
  }
}

[class^="ci-"], [class*=" ci-"] {
  font-family: 'c2eicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ci-facebook:before {
  content: "\e601";
}
.ci-googleplus:before {
  content: "\e602";
}
.ci-left-big-arrow:before {
  content: "\e603";
}
.ci-mail:before {
  content: "\e604";
}
.ci-quote-left:before {
  content: "\e605";
}
.ci-quote-right:before {
  content: "\e606";
}
.ci-right-big-arrow:before {
  content: "\e607";
}
.ci-round-arrow:before {
  content: "\e608";
}
.ci-star:before {
  content: "\e609";
}
.ci-thumb:before {
  content: "\e60a";
}
.ci-twitter:before {
  content: "\e60b";
}
.ci-user:before {
  content: "\e60c";
}
.ci-youtube:before {
  content: "\e60d";
}
.ci-clock:before {
  content: "\e60e";
}
.ci-clock-outline:before {
  content: "\e60f";
}
.ci-arrows-down:before {
  content: "\e610";
}
.ci-arrow:before {
  content: "\e611";
}
.ci-document:before {
  content: "\e612";
}
.ci-arrows-right:before {
  content: "\e600";
}

.ci-play:before {
  content: "\f04b";
}
.ci-radio-unchecked:before {
  content: "\f10c";
}
.ci-circle:before {
  content: "\f111";
}
.ci-radio-checked:before {
  content: "\f192";
}

