.banner {
  margin-top: 30px;
  border: none;
  .navbar-toggle .icon-bar {
    background-color: @brand-primary;
  }
  .navbar-brand {
    background: url(../img/main-logo.png) no-repeat center center;
    width: 54px;
    height: 76px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -27px !important;
    position: absolute;
    &:focus {
      outline: none;
    }
  }

  .collapse .navbar-brand  {
    display:none;
  }

  .nav {
    li {
      text-transform: uppercase;
      //padding:15px 20px 0 20px;
      padding-top:15px;
      .letter-spacing(0.2);

      &.active, &:hover {
        outline: none;
        a {
          outline: none;
          color: @brand-primary;
          outline: none;
          //background-color: fade(@light, 30%);
        }
      }
      a {
        font-family: "Lato";
        text-transform: uppercase;
        padding: 5px 15px;
        margin: 20px 0;
        display: block;
        transition: all 0.5s ease-in-out;
        color: @brand-gray;
      }
    }
  }

}

@media (min-width: 767px) {

  .hero {
    background: #eaeaf1 url(../img/slide_01.jpg) no-repeat center center;
    height: 800px;
  }

  .navbar-right > li {    
    //padding-left:40px;
    margin-left:40px;
    &:before {
      content: ".";
      display: inline-block;
      position: absolute;
      left: -25px;
      top: 40px;
    }
    &:first-child {
      margin-left: 0;
      &:before
      {
        content: '';
      }
    }
    
  }

  .navbar-left > li {    
    //padding-right:40px;
    margin-right: 40px;
    &:after {
      content:".";
      display: inline-block;
      position: absolute;
      right: -25px;
      top: 40px;
    }
    &:last-child {
      margin-right: 0;
      &:after
      {
        content: '';
      }
    }
  }
}
