/*
* CONTACT
*/
.wpcf7-form{
	p{
		text-align: left;
		margin-top: 5px;
	}
	label{
		margin-top: 10px;
	}
	textarea.form-control {
		height: 200px;
	}
	.btn{
		margin: 50px auto 0 auto;
		display: block;
	}
}

.text-left * {
	text-align:left !important;
}

#activities-list {
	[class^="icon-"], [class*=" icon-"] {
		.font-size(5);
		margin:15px 0;
		color:@brand-primary;
		display:block;
		text-align:center;
	}
}