.text-left * {
	text-align:left !important;
}

#activities-list {
	[class^="icon-"], [class*=" icon-"] {
		.font-size(5);
		margin:15px 0;
		color:@brand-primary;
		display:block;
		text-align:center;
	}
}
