
.text-left * {
  text-align: left !important;
}

.headline {
  h2 {
    margin: 20px 0px 40px;
    color: @brand-primary;
    .font-size(5);
    font-weight: 300;
    text-transform: none;
    .text-left;
  }
  p {
    .font-size(2);
    font-weight: 300;
    margin-top: 0;
  }
  strong {
    font-weight: 500;
  }
}

/*
.activities-list {
  [class^="icon-"], [class*=" icon-"] {
    .font-size(4);
    margin: 15px 0;
    color: @brand-primary;
    display: block;
    text-align: left;
    transition: all 0.5s;
  }

  margin-top: 50px;

  .iwt-wrapper {
    position: relative;

  }

  .iwithtext {
    &:hover {
      [class^="icon-"], [class*=" icon-"] {
        .font-size(4.5);
        transition: all 0.5s;
      }
    }

  }

  .iwt-icon {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .iwt-text {
    padding-left: 60px;
    a {
      color: @text-color;
      transition: all 0.5s;
      &:hover {
        color: @brand-primary;
        transition: all 0.5s;

      }
    }

    * {
      text-align: left;
    }
    p {
      margin-top: 5px;
    }

  }
}
*/

.activities-list {
  [class^="icon-"], [class*=" icon-"] {
    .font-size(4.5);
    margin: 15px 0;
    color: #DDD;
    display: block;
    text-align: center;
    transition: all ease 0.5s;
  }

  margin-top: 50px;

  .iwt-wrapper {
    position: relative;
    background: @light;
    padding: 15px;
    min-height: 220px;
    margin-bottom: 20px;
    border:1px solid transparent;
    transition: all 0.5s;
    &:hover {
      border:1px solid @brand-primary;
      transition: all ease 0.5s;
      [class^="icon-"], [class*=" icon-"], a {
        color: @brand-primary;
        transition: all ease 0.5s;
      }
    }
  }

  .iwt-text {
    a {
      color: @text-color;
      transition: all 0.5s;
      &:hover {
        color: @brand-primary;
        transition: all 0.5s;
        text-decoration: none;
      }
    }

    * {
      text-align: center;
    }
    p {
      margin-top: 5px;
    }

  }
}

.goto-tarifs {
  .row {
    div {
      &:nth-child(1) {
        background: @brand-gray;
        color: @light;
        height: 380px;
        padding: 5%;
      }
      &:nth-child(2) {

      }
      &:nth-child(3) {

      }
    }
  }
}

/* Pricing */

.pricing-widget {
  padding-top: 20px;
  .plans {
    position: relative;
    margin: 10px 0 20px;
    border-top: 1px solid #c5c5c5;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .plan {
    .make-sm-column(4);
    padding: 40px 20px 10px;
    position: relative;
    border-top: 3px solid transparent;
    margin-top: -1px;
    transition: all ease 350ms;
    &:hover {
      border-top: 3px solid @brand-primary;
      background: rgba(255, 255, 255, 0.6);
      transition: all ease 350ms;
    }
    .h2 {
      margin-top: 5px;
      display: block;
      .font-size(2.4);
      margin-bottom: 0px
    }
  }

  .plan[data-plan="or"] {
    order: 2;
    border-color: @brand-primary;
    background: @light;

  }

  .plan[data-plan="argent"] {
    order: 1
  }

  .plan[data-plan="bronze"] {
    order: 3;
    small {
      display: block;
      line-height: 0.5;
    }
  }

  .price {
    color: @brand-primary;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 0;
    small {
      font-size: 60%;
      line-height: 1;
    }
  }

  .features {
    line-height: 1.5;
    margin-bottom: 30px
  }

  .special {
    color: @brand-primary;
    position: absolute;
    text-transform: uppercase;
    margin-bottom: 15px;
    width: 100%;
    margin: 0 -20px;
    top: 15px
  }

  .linelineline {
    border-top: 1px solid #c5c5c5;
    display: block;
    position: relative;
  }

  .linelineline.moveup {
    top: -40px;
  }

  .row {
    padding-top: 30px;
    padding-bottom: 30px;
    .row {
      padding-top: 0;
      padding-bottom: 0
    }
  }

  ul.features {
    .list-unstyled;
  }

  ul.special-features {
    .icon;
    margin-bottom: 25px;
    li {
      &:before {
        content: "\2b";
        position: relative;
        left: 0;
        margin-right: 1rem;
        margin-left: -1rem;
      }
    }
  }

}

#portait-pricing-container {
  .plan {
    .make-sm-column(3);
  }
}

.pricing-info {
  * {
    text-align: left;
  }
  h2 {
    margin-top: 0;
  }
}

@media (max-width: 719px) {
  .pricing-widget {

    .plans {
      display: block
    }

    .plan {
      width: auto;
      padding: 0 10px 10px;
      margin-bottom: 10px;
      border: 1px solid #c5c5c5
    }

    .features {
      margin-bottom: 0
    }

    .linelineline.moveup {
      display: none
    }

    .special {
      position: relative;
      width: 100%;
      text-align: center;
      margin: 0 0 20px
    }
  }

}

.panel-title a {
  color:@brand-primary;

  &:after {
    color:#DDD;
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
  }
}
.panel-title a.accordion-opened:after {
  content: "\e080";
}

.panel-body {
  p:first-child {
    margin-top: 0;
  }
}
