/*
* ARCHIVE PORTFOLIO
*/

.post-type-archive-portfolio {
  background: @brand-gray-lighter;


  .effects {
    background: transparent;
    #filters {
      /*background: #353738;*/
      padding: 10px 0;
      text-align: center;
      .font-size(1.6);
      font-weight: 400;
      button {
        .btn;
        background: transparent;
        /*color: @light;*/
        border: none;
        &:hover {
          color: @brand-primary;
        }
        &:focus {
          outline: none;
        }
        &.selected {
          color: @brand-primary;
        }
      }
    }

    .grid-sizer,
    .grid-item {
      display: block;
      float: left;
      padding: 0 6px 12px 6px;
      width: 33%;
      .overlay {
        top: 0 !important;
        left: 6px !important;
        bottom: 12px !important;
        right: 6px !important;
      }
    }

    /* 5 columns, percentage width */
    /*
    .grid-item,
    .grid-sizer {
      width: 25%;
      .img {
        position: relative;
        img {
          display: block;
          margin: 0;
          padding: 0;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .grid-item {
      float: left;
      height: 260px;
    }

    .grid-item--portrait { height: 520px; }
    .grid-item--width2 { width: 200px; }*/
  }
}

/*
* SINGLE PORTFOLIO
*/

.single-portfolio {

  background: @brand-gray-lighter;

  .content {
    background: @light;
    p {
      padding: 0 20px;
      text-align: left;
    }
  }
}

.popup-gallery {
  background: @brand-gray-lighter;
  .grid-sizer,
  .grid-item {
    display: block;
    float: left;
    padding: 0 4px 8px 4px;
    width: 33%;
    .overlay {
      top: 0 !important;
      left: 4px !important;
      bottom: 8px !important;
      right: 4px !important;
      a {
        display: block;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
  .grid-item img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
  }
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

#portfolio-nav {
  top: 0;
  position: absolute;
  height: 100%;
  right: 0px;
  position: absolute;
  display: inline-block;
  width: 100%;
  ul {
    left: 0px;
    right: auto;
    top: 50%;
    margin-top: -10px;
    float: none;
    position: absolute;
    li {
      float: left;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .prev-link a, .next-link a {
      color: #888 !important;
      cursor: pointer;
      display: inline-block;
      float: left;
      margin: 0px 10px 0px 0px;
      position: relative;
      text-transform: capitalize;
      background-repeat: no-repeat;
      transition: all 0.5s linear 0s;
      text-align: center;
      &:hover {
        text-decoration: none;
        span {
          color: @brand-primary;
          transition: all 0.5s linear 0s;
        }
      }
    }
  }
  ul.controls {
    float: right;
    right: 0px;
    left: auto;
  }
}
