/*
* ARCHIVE PORTFOLIO
*/

.post-type-archive-portfolio{
  .effects{
    background:transparent;

    #filters{
      text-align: center;
      button{
        background:transparent;
        border: none;
        text-transform: uppercase;
        color:@brand-gray;
        padding: 10px 20px;
        &:focus{
          outline: none;
        }
        &.selected{
          color:@brand-primary;
        }
      }
    }


    .grid-item{
      margin-top: 50px;
    }
  }
}



/*
* single-portfolio
*/

.single-portfolio{
  .popup-gallery{
    margin-top:50px;
  }
}