<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<div id="pricing-container">

  <div class="container pricing-widget">
    <div class="text-center">
      <h2>Des formules adaptées à tous les besoins et tous les budgets</h2>


    </div>

    <div class="plans">

      <div class="plan text-center bg-light" data-plan="premium">
        <div class="special">La plus populaire</div>
        <p class="h2">Or</p>

        <p class="price">1 300 €</p>

        <p class="type-small">
          <span data-period="annual">par mois, facturation à l'année</span>
        </p>

        <a href="http://studio-lieb.com/contact/" class="btn btn-primary" data-period="annual" data-choice="premium">Demandez
          un devis</a>

        <h3>Préparatifs, couple, cérémonies, cocktail et soirée</h3>

        <p class="features">
          Formule Plus <br>+ Lecteur à votre marque<br>+ Contrôlez les commentaires &amp; &amp; partages<br>+ Outils
          d'analyse avancés
        </p>
      </div>

      <div class="plan text-center" data-plan="plus">
        <p class="h2">Argent</p>

        <p class="price">900 €</p>

        <p class="type-small">
          <span data-period="annual">par mois, facturation à l'année</span>
        </p>

        <a href="http://studio-lieb.com/contact/" class="btn btn-secondary" data-period="annual" data-choice="plus">Demandez
          un devis</a>

        <h3>Préparatifs, couple, cérémonies et cocktail</h3>

        <p class="features">
          Formule Basique<br>+ Lecteur sans pub<br>+ Lecteur autonome<br>+ Outils d'analyse limités
        </p>
      </div>

      <div class="plan text-center" data-plan="basic">
        <p class="h2">
          Basique
        </p>

        <p class="price">Bronze</p>

        <p class="price">700 €</p>

        <a href="http://studio-lieb.com/contact/" class="btn btn-secondary" data-period="annual" data-choice="plus">Demandez
          un devis</a>

        <h3>Couple et cérémonies</h3>

        <p class="features">
          Sur applis iOS &amp; Android<br>S'intègre partout<br>Publication illimitée
        </p>
      </div>

    </div>

    <div class="linelineline moveup"></div>

    <div style="display: none" class="text-center js-regional-pricing">
      <span>*</span><span style="padding-left: 4px;">Les prix promotionnels sont seulement disponibles pendant une période limitée.</span>
    </div>
  </div>

  <div id="pricing-info">
    <div class="container js-features">
      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive"
               src="https://static.issuu.com/static-assets/widgets/pricing/assets/hhh_embed.jpg" alt="">
        </div>
        <div class="col-md-6">
          <h2>Lecteur intégré</h2>

          <p>Diffusez vos publications partout sur le web en les intégrant à un beau lecteur numérique. Placez-le sur
            votre site web ou sur votre blog, grâce à quelques lignes de code fort simples. Personnalisez votre
            lecteur en fonction de la plate-forme ou du public, grâce à des arrière-plans, une taille et un format
            uniques. Et en supprimant les publicités autour de votre publication, vos lecteurs se concentreront
            davantage sur votre contenu.</p>

          <h3>Fonctionnalités</h3>

          <p>
            Ajouter logo et image d'arrière-plan&nbsp; <em>Premium</em><br>
            Lecteur sans publicité&nbsp; <em>Plus &amp; Premium</em><br>
            Lien vers un lecteur autonome&nbsp; <em>Plus &amp; Premium</em>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-center">
          <img class="img-responsive"
               src="https://static.issuu.com/static-assets/widgets/pricing/assets/html5reader.jpg" alt="">
        </div>
        <div class="col-md-6 text-center">
          <img class="img-responsive"
               src="https://static.issuu.com/static-assets/widgets/pricing/assets/mobileapps.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Lecteur HTML5 mobile</h2>

          <p>Vos lecteurs n'ont pas besoin d'installer une appli pour profiter de vos publications sur leurs appareils
            mobiles. Vos magazines, livres et articles seront présentés au même format sur tous les grands navigateurs
            mobiles, pour permettre une lecture des plus agréables.</p>

          <p><em>Disponible dans toutes les formules</em></p>
        </div>
        <div class="col-md-6">
          <h2>Applis iOS et Android</h2>

          <p>
            Distribuez votre publication sur toutes les grandes plates-formes mobiles grâce à des applis iOS, Android
            et Windows. Vos lecteurs pourront ainsi lire vos contenus n'importe où, à tout instant et plus longuement.
          </p>

          <p><em>Disponible dans tout les plans</em></p>
        </div>
      </div>


      <div class="row text-center">
        <a href="#plans" class="btn btn-default">
          REVENIR VERS LES PLANS
        </a>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Analyses</h2>

          <p>Suivez et comprenez l'engagement numérique des lecteurs avec chaque partie de contenu de vos publications
            sur toutes les plates-formes. Découvrez comment votre couverture transforme les impressions en lectures,
            combien de temps les lecteurs passent sur chaque page, quel contenu les lecteurs partagent le plus et bien
            plus encore.</p>

          <h3>Fonctionnalités</h3>

          <p>
            Analysez les impressions, le temps de lecture, le nombre de lectures, les partages et les commentaires de
            tout votre historique&nbsp; <em>Premium</em>
          </p>

          <p>
            Analysez les impressions, le temps de lecture et les lectures pendant une période limitée&nbsp;
            <em>Plus</em>
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-responsive"
               src="https://static.issuu.com/static-assets/widgets/pricing/assets/statistics.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive"
               src="https://static.issuu.com/static-assets/widgets/pricing/assets/social_sharing.jpg" alt="">
        </div>
        <div class="col-md-6">
          <h2>Partage social</h2>

          <p>Partager un lien issuu sur Facebook, Google, LinkedIn, Tumblr, Twitter ou par e-mail permet à vos abonnés
            de lire l'intégralité de votre publication. Augmentez l'implication auprès de vos publications en
            délivrant votre contenu directement aux lecteurs sur leurs réseaux sociaux.</p>

          <h3>Fonctionnalités</h3>

          <p>Commandes de partage et de contrôle&nbsp; <em>Premium</em></p>
        </div>
      </div>

      <div class="row text-center">
        <a href="#plans" class="btn btn-default">
          REVENIR VERS LES PLANS
        </a>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Publiez à volonté</h2>

          <p>Publiez aussi souvent que vous le voulez. Stockage et trafic illimités signifient que vous pouvez
            utiliser issuu pour distribuer et stocker en toute sécurité toutes vos publications. Transférez des
            publications en haute définition en toute simplicité et convertissez-les depuis les principaux formats de
            document.</p>

          <h3>Fonctionnalités</h3>

          <p>Planifier les publications jusqu'à 30 jours à l'avance&nbsp; <em>Plus &amp; Premium</em></p>
        </div>
        <div class="col-md-6">
          <img class="img-responsive"
               src="https://static.issuu.com/static-assets/widgets/pricing/assets/unlimited.png" alt="">
        </div>
      </div>
    </div>

    <div class="bg-light bottom-boxes">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Liens automatiques</h3>

            <p>Les liens dans votre publication sont automatiquement inclus lorsque vous transférez sur issuu. Ajoutez
              plus de liens à tout moment avec notre éditeur interactif.</p>
          </div>
          <div class="col-md-4">
            <h3>Recherche optimisée</h3>

            <p>C'est comme si votre publication avait son propre site web sur issuu. Les principaux moteurs de
              recherche indexent chaque publication afin que les lecteurs trouvent facilement votre travail.</p>
          </div>
          <div class="col-md-4">
            <h3>Imprimer à la demande</h3>

            <p>Imprimez et livrez des copies de votre publication partout dans le monde. Pas de pré-commandes
              nécessaires.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3>Assistance</h3>

            <p>
              Recevez des réponses à vos questions sur la publication de la part de notre
              <a class="knowledgeBase" href="http://help.issuu.com/forums">base de connaissances complète</a>
              et
              <a class="supportRequest" href="http://help.issuu.com/anonymous_requests/new">équipe d'assistance
                internationale</a>.
            </p>
          </div>
          <div class="col-md-4">
            <h3>API</h3>

            <p>Utilisez l'API de issuu pour automatiser les uploaders et personnalisée les intégrations avec votre
              site.</p>
          </div>
          <div class="col-md-4">
            <h3>Clip</h3>

            <p>Grâce aux clips, les lecteurs peuvent partager n'importe quelle partie de votre publication sur leurs
              réseaux sociaux préférés et attirer de nouveaux lecteurs directement sur votre document. </p>
          </div>
        </div>
        <div class="row text-center">
          <a href="#plans" class="btn btn-default">
            REVENIR VERS LES PLANS
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="linelineline"></div>
        <div class="col-md-12">
          <h2>Solutions personnalisées</h2>

          <p>
            Pour les applications uniques ou à grande échelle,
            Contactez-nous
            pour plus d'informations
          </p>

          <p class="h3">
            <a href="mailto:custompricing@issuu.com" target="_blank" class="btn btn-default js-custom-link">
              Contactez-nous
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>


<div class="row">
  <div class="col-md-6 text-center"><img class="img-responsive" src="https://static.issuu.com/static-assets/widgets/pricing/assets/html5reader.jpg" alt="" /></div>
  <div class="col-md-6 text-center"><img class="img-responsive" src="https://static.issuu.com/static-assets/widgets/pricing/assets/mobileapps.jpg" alt="" /></div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Lecteur HTML5 mobile</h2>
    Vos lecteurs n'ont pas besoin d'installer une appli pour profiter de vos publications sur leurs appareils
    mobiles. Vos magazines, livres et articles seront présentés au même format sur tous les grands navigateurs
    mobiles, pour permettre une lecture des plus agréables.

    <em>Disponible dans toutes les formules</em>

  </div>
  <div class="col-md-6">
    <h2>Applis iOS et Android</h2>
    Distribuez votre publication sur toutes les grandes plates-formes mobiles grâce à des applis iOS, Android
    et Windows. Vos lecteurs pourront ainsi lire vos contenus n'importe où, à tout instant et plus longuement.

    <em>Disponible dans tout les plans</em>

  </div>
</div>
<div class="row text-center"><a class="btn btn-default" href="#plans">
  REVENIR VERS LES PLANS
</a></div>
<div class="row">
  <div class="col-md-6">
    <h2>Analyses</h2>
    Suivez et comprenez l'engagement numérique des lecteurs avec chaque partie de contenu de vos publications
    sur toutes les plates-formes. Découvrez comment votre couverture transforme les impressions en lectures,
    combien de temps les lecteurs passent sur chaque page, quel contenu les lecteurs partagent le plus et bien
    plus encore.
    <h3>Fonctionnalités</h3>
    Analysez les impressions, le temps de lecture, le nombre de lectures, les partages et les commentaires de
    tout votre historique  <em>Premium</em>

    Analysez les impressions, le temps de lecture et les lectures pendant une période limitée
    <em>Plus</em>

  </div>
  <div class="col-md-6"><img class="img-responsive" src="https://static.issuu.com/static-assets/widgets/pricing/assets/statistics.jpg" alt="" /></div>
</div>
<div class="row">
  <div class="col-md-6"><img class="img-responsive" src="https://static.issuu.com/static-assets/widgets/pricing/assets/social_sharing.jpg" alt="" /></div>
  <div class="col-md-6">
    <h2>Partage social</h2>
    Partager un lien issuu sur Facebook, Google, LinkedIn, Tumblr, Twitter ou par e-mail permet à vos abonnés
    de lire l'intégralité de votre publication. Augmentez l'implication auprès de vos publications en
    délivrant votre contenu directement aux lecteurs sur leurs réseaux sociaux.
    <h3>Fonctionnalités</h3>
    Commandes de partage et de contrôle  <em>Premium</em>

  </div>
</div>
<div class="row text-center"><a class="btn btn-default" href="#plans">
  REVENIR VERS LES PLANS
</a></div>
<div class="row">
  <div class="col-md-6">
    <h2>Publiez à volonté</h2>
    Publiez aussi souvent que vous le voulez. Stockage et trafic illimités signifient que vous pouvez
    utiliser issuu pour distribuer et stocker en toute sécurité toutes vos publications. Transférez des
    publications en haute définition en toute simplicité et convertissez-les depuis les principaux formats de
    document.
    <h3>Fonctionnalités</h3>
    Planifier les publications jusqu'à 30 jours à l'avance  <em>Plus &amp; Premium</em>

  </div>
  <div class="col-md-6"><img class="img-responsive" src="https://static.issuu.com/static-assets/widgets/pricing/assets/unlimited.png" alt="" /></div>
</div>
</div>
<div class="bg-light bottom-boxes">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Liens automatiques</h3>
        Les liens dans votre publication sont automatiquement inclus lorsque vous transférez sur issuu. Ajoutez
        plus de liens à tout moment avec notre éditeur interactif.

      </div>
      <div class="col-md-4">
        <h3>Recherche optimisée</h3>
        C'est comme si votre publication avait son propre site web sur issuu. Les principaux moteurs de
        recherche indexent chaque publication afin que les lecteurs trouvent facilement votre travail.

      </div>
      <div class="col-md-4">
        <h3>Imprimer à la demande</h3>
        Imprimez et livrez des copies de votre publication partout dans le monde. Pas de pré-commandes
        nécessaires.

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Assistance</h3>
        Recevez des réponses à vos questions sur la publication de la part de notre
        <a class="knowledgeBase" href="http://help.issuu.com/forums">base de connaissances complète</a>
        et
        <a class="supportRequest" href="http://help.issuu.com/anonymous_requests/new">équipe d'assistance
          internationale</a>.

      </div>
      <div class="col-md-4">
        <h3>API</h3>
        Utilisez l'API de issuu pour automatiser les uploaders et personnalisée les intégrations avec votre
        site.

      </div>
      <div class="col-md-4">
        <h3>Clip</h3>
        Grâce aux clips, les lecteurs peuvent partager n'importe quelle partie de votre publication sur leurs
        réseaux sociaux préférés et attirer de nouveaux lecteurs directement sur votre document.

      </div>
    </div>
    <div class="row text-center"><a class="btn btn-default" href="#plans">
      REVENIR VERS LES PLANS
    </a></div>
  </div>
</div>
</div>
<div class="bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="linelineline"></div>
      <div class="col-md-12">
        <h2>Solutions personnalisées</h2>
        Pour les applications uniques ou à grande échelle,
        Contactez-nous
        pour plus d'informations
        <p class="h3"><a class="btn btn-default js-custom-link" href="mailto:custompricing@issuu.com" target="_blank">
          Contactez-nous
        </a></p>

      </div>
    </div>
  </div>
</div>
